<%- include ('partials/header')%>
<link rel="stylesheet" href="/stylesheets/summary.css">
</head>
<body>
<%- include ('partials/navbar')%>
<div class="container" id="container">
    <br>
    <h2>Order Summary</h2>
    <br>
    <div class="gallery">
        <img src="images/image1.jpg"><div class="desc">Queen size Bed <br> $267</div>
    </div>
    <div class="gallery">
        <img src="images/image5.jpg">
        <div class="desc">Bean Bag <br> $100</div>
    </div>
    <div class="gallery">
        <img src="images/image11.jpg">
        <div class="desc">Trunks <br> $205</div>
    </div>
</div>
<div class="container">
    <a class="btn btn-dark" href="checkout">Checkout</a>
</div>
<%- include ('partials/footer')%>