<%- include ('partials/header'); %>
<link rel="stylesheet" href="/stylesheets/thankyou.css">
</head>
<body>
    <%- include ('partials/navbar'); %>
	<div class="container" style="margin-bottom: 22%; margin-top: 4%;">
        <div class="row">
            <div class="col-lg-12" id="container">
                <h1>weFurnish</h1>
                <br>
                <h2>Thank you for shopping with us</h2>
            </div>
        </div>
    </div>
<%- include ('partials/footer'); %>